<!-- the template that Handlebars renders onto. -->

<div class="hero is-danger">
  <div class="container has-text-centered">
    <h1 class="title">
        Eat Da Burger
    </h1>
  </div>
</div>


<div class="container"> 
  <div class="columns">
    <div class="column">
     <h2">Burgers to eat!</h2>

      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger_block devoured=false}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>


    <div class="column">
     <h2>Burgers eaten!</h2>

        <ul>
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger_block devoured=false}}
            {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>
  
     <div class="field has addons">
      <div class="control">
         <input class="input" type="text" id="bu" name="burger_name" placeholder="Double Cheeseburger">
      </div>
      <div class="control">
          <button type="submit" id="create-burger" class="button is-danger">
        Add Burger
        </button>
      </div>
  </div>







